
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


#fullPage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background: linear-gradient(to bottom, rgba(255,255,255,.5) 0%, rgba(255,255,255,.5) 100%), url('../content/QED_Vector.svg') no-repeat;
  background-size: 1024px 1024px;
  background-attachment: fixed;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  padding: 0;
}


.user {
  font-size: 1em;
  height: 50px;
  line-height: 50px;
  padding: 5px 5px 0px 0px;
  cursor: pointer;
}

.user:hover #loginMenu {
  visibility: visible;
  opacity: 1;

  transition: opacity .4s ease-in;
}

#loginMenu {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 5px;
  height: 200px;
  background-color: #678;
  border: 3px solid #ABC;
  border-radius: 15px;
  opacity: 0;
  cursor: default;
  z-index: 9999;

  font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
}

#loginMenu:hover {
  visibility: visible;
}

#loginMenu ul {
  margin: 0;
  padding: 0;
  list-style: none;

  -webkit-padding-start: 0;
}

#loginMenu li {
  margin: 3px 5px 3px 5px;
  height: 32px;
}

#loginMenu li span {
  height: 28px;
  line-height: 28px;
  font-size: 18px;
}

#loginMenu li input {
  height: 34px;
  line-height: 34px;
  font-size: 24px;
  width: 200px;
}

#loginMenu li button {
  margin-top: 5px;
  background-color: #ABC;
  color: #FFF;
  height: 30px;
  line-height: 30px;
  width: 75px;
  border: none;
  font-size: 14px;
  font-family: Helvetica;
  cursor: pointer;
}


.startslide {
  z-index: 9999;
  float: right;
}

nav.header-menu {
  background-color: rgba(48, 48, 48, 0.8);
}

nav.header-menu ul {
  display: table;
  text-align: center;
  margin: 0;
  height: 40px;
  color: #DDD;
  -webkit-padding-start: initial;
  padding-left: 0;
  cursor: pointer;
}

nav.header-menu ul li {
  display: inline-block;
  width: 160px;
  height: 40px;
  line-height: 40px;
  font-size: 18pt;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

nav.header-menu ul li:first-child {
  border-left: none;
}

nav.header-menu ul li:last-child {
  border-right: none;
}

nav.header-menu ul li:hover {
  text-shadow: 0 3px 3px rgba(0,0,0,0.5);
  color: #31909E;

  transition: all .4s ease;
}

nav.header-menu ul li i {
  padding-left: 5px;
  position: relative;
  top: 5px;
}



nav.header-menu ul li div {
  position: fixed;
  z-index: 1000;
  top: 0px;
  visibility: hidden;
  opacity: 0;
}

nav.header-menu ul li:hover div {
  visibility: visible;
  top: 90px;
  opacity: 1;

  transition: opacity .4s ease-in;
}

nav.header-menu ul li div:hover {
  display: block;
}

nav.header-menu ul li ul {
  display: table-caption;
  text-align: left;
  padding-left: 10px;
}

nav.header-menu ul li ul li {
  width: 140px;
  height: 30px;
  line-height: 30px;
  font-size: 14pt;
  padding-left: 10px;
  background-color: rgba(48, 48, 48, 0.8);
  border: none;
  display: table;
}


.header-menu .curLink {
  text-shadow: 0 3px 3px rgba(0,0,0,0.5);
  color: #31909E;
}






.requests-header {
  height: 30px;
}

.requests-footer {
  height: 30px;
}

.requests-not-logged-in {
  height: calc(100vh - 150px);
  width: calc(100vw - 10px);
  min-width: 950px;
  margin: 0;
  -webkit-padding-start: 0;

  line-height: calc(100vh - 190px);
  font-size: 48px;
  text-align: center;
}

.requests-table-header {
  display: table;
  height: 40px;
  width: calc(100vw - 10px);
  min-width: 950px;
  margin: 0;
  -webkit-padding-start: 0;
  margin-left: 5px;
  padding: 0;
  text-align: center;
}

.requests-table-header li {
  display: table-cell;

  height: 40px;
  line-height: 40px;
  background-color: #222;
  list-style: none;
}


.requests-table-lines {
  height: calc(100vh - 220px);
  width: calc(100vw - 10px);
  max-height: 445px;
  min-width: 950px;
  margin: 0;
  padding: 0;
  -webkit-padding-start: 0;
  margin-left: 5px;

  color: #000;

  overflow-y: auto;
}

.requests-table-lines li {
  position: relative;
  list-style: none;

  min-height: 30px;
}


.requests-table-lines .full-request-line {
  background-color: rgba(255, 255, 255, 0.5);
}

.requests-table-lines .full-request-line:hover {
  background-color: rgba(200,200,200,0.7);
}

.selected-request-line {
  background-color: rgba(165, 200, 255, 0.7);
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}


.requests-table-lines li:hover .requests-toolbar {
  visibility: visible;
}

.requests-table-lines li:hover div {
  visibility: visible;
}

.requests-toolbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: calc(100% - 4px);
  margin: 2px;
  text-align: right;
  visibility: hidden;

  background: rgba(255,255,255,1);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(0.25, rgba(255,255,255,1)), to(rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1));
  background: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1));
  background: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1));
}

.requests-toolbar i {
  cursor: pointer;
  border-radius: 10px;
}

.requests-toolbar i:hover {
  color: #A53;
}


.itrequest {
  display: table;
  width: calc(100vw - 10px);
  min-width: 950px;
  margin: 0;
  -webkit-padding-start: 0;
  padding: 0;

  text-align: center;
}

.itrequest li {
  display: table-cell;
  height: 30px;

  color: #000;
  list-style: none;
  border: 1px solid #000;
  cursor: pointer;
}

.itrequest-due {
  width: 10%;
}

.itrequest-priority {
  width: 7%;
}

.itrequest-age {
  width: 6%;
}

.itrequest-assign {
  width: 15%;
}

.itrequest-desc {
  width: 62%;
  text-align: left;
  padding-left: 3px;
}


.requests-details {
  height: 88px;
  border: 1px solid black;
}









.gauge-view-full {
  height: calc(100vh - 90px);
  overflow: auto;
}
